.features {
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 0;
    }

    &__list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    }
    &__item {
        margin-right: 15px;
        margin-left: 15px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        &:nth-last-child(-n + 2) {
        margin-bottom: 0px;
            }

        }

        @media screen and (min-width: 1200px) {
        width: calc(100% / 4 - 30px);
        &:nth-child(-n + 4) {
        margin-bottom: 0px;
        }
        }
        }


    &__cont {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
        }

    &__icon {
        margin: 0 auto;
    }

    &__topik {
        width: 100%;
        text-align: center;
        @include text(14px, 700, 1.14, 0.03em);
        font-family: Roboto;
        text-transform: uppercase;
        color: var(--basic-color);

        @media screen and (min-width: 768px) {
            text-align: left;
        }

        &--properties {
            margin-top: 30px;
        }
    }
    
    &__text {
        @include text(14px, null, 1.71, 0.03em);
        color: var(--second-color);

        &--properties {
            margin-top: 10px;
        }
    }
}


