.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;

    &--properties {
        margin: 0;
    }
}

.menu {
    display: flex;
    align-items: center;
    position: relative;

    &__btn {
        display: inline-block;
        margin-left: auto;
        padding: 0;
        border: none;
        background-color: transparent;

        @media screen and (min-width: 768px) {
        display: none;
            }
    }
    
    &__icon {
        &--menu {
            display: none;
        }
    }

    &__list,
    &__page {
        @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
    }

    &__container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 480px;
        height: 796px;
        padding: 8px 0 48px 40px;
        // width: 100%;

        display: flex;
        justify-content: space-between;
        background-color: var(--second-accent-color);
        // outline: 2px solid red;

        display: none;
        opacity: 1;

        &.is-open {
            display: block
        }
    }

    &__page {
        @include text(47px, 500, 1.18, 0.02em);

        // @include text(14px, 500, 1.14, null);
        position: relative;
        font-family: Roboto;

        color: var(--basic-color);
        transition-property: сolor;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &--status::after {
            display: none;

            @media screen and (min-width: 768px) {
            display: inline-block;
            position: absolute;
            @include side(0px, 46px, 100%, 4px);
            content: '';
        
            background: var(--accent-color);
            border-radius: 2px;
        
            opacity: 1;}
        }

        &--status {
            color: var(--accent-color);
        }

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    &__item {
        &:not(:last-child) {
        margin-bottom: 32px;}

        &:last-child {
        margin-bottom: 306px;        }
    }
    
    &__item:not(:last-child){
        margin-right: 50px;
        }
}
.menu__btn.is-open .menu__icon--menu {
    display: block;
}

.menu__btn.is-open .menu__icon--cross {
    display: none;
}

.contacts {
    &__list{
    position: relative;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        }
    }

    &__link {
        @include text(34px, 500, 1.18, 0.02em);
        font-family: Roboto;

        color: var(--second-color);
        transition-property: сolor;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        @media screen and (min-width: 768px) {
            @include text(14px, 500, 1.14, null);
        }
    }

    &__icon {
        display: none;
        @media screen and (min-width: 768px) {
        fill: currentColor;
        transition-property: full;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &--properties {
            margin-right: 10px;
        }
    
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }
}
    &__item:not(:last-child) {
        margin-bottom: 32px;
        // margin-right: 50px;
    }
}
