.menu-open-btn {
    display: block;
    margin-left: auto;
    width: 40px;
    height: 40px;
    outline: none;
    background-image: url("../images/menu_40px.png");
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-close-btn {
    position: fixed;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    outline: none;
    background-image: url("../images/close_40px.png");
    @media screen and (min-width: 768px) {
            display: none;
        }
}

.menu-open-btn:hover,
.menu-open-btn:focus {
    cursor: pointer;
    background-image: url("../images/menu_40px-act.png");
}

.menu-close-btn:hover,
.menu-close-btn:focus {
    cursor: pointer;
    background-image: url("../images/close_40px-act.png");
}